.vscode/
docs/
cliprt/resources/lm_sample.xlsx
cliprt/classes/__pycache__/
cliprt/legacy/__pycache__/
cliprt/tests/__pycache__/
cliprt/__pycache__/
.pytest_cache/
a.pytest_cache/
.coverage
cliprt/tests/resources/~$test_workbook.xlsx
cliprt/tests/resources/~$test_noded_workbook.xlsx
*.pyc
